<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DontSpeakAbsWords后台</title>
</head>
<body>
<h2>后台</h2>
<div id="addTransl">
    <h3>添加词条</h3>
    <span th:text="${info}"></span>
    <form action="/admin/submitTranslToPS" method="post">
        <span>词条</span><br>
        <input type="text" id="word" name="word"><br>
        <span>释义</span><br>
        <input type="text" id="transl" name="translation"><br>
        <span>来源</span><br>
        <input type="text" id="sources" name="source"><br>
        <button type="submit">提交</button>
        <br>
    </form>
</div>
<div id="erratum">
    <h3>勘误统计</h3>
    <div th:text="${translationError}"></div>
    <table border="1">
        <tr>
            <td>编号</td>
            <td>词条</td>
            <td>释义</td>
            <td>错误原因</td>
            <td>提交日期</td>
            <td>删除此条翻译</td>
            <td>修改此条翻译</td>
        </tr>
        <tr  th:each="erratum : ${erratum}">
            <td th:text="${erratum.id}"></td>
            <td th:text="${erratum.word}"></td>
            <td th:text="${erratum.translation}"></td>
            <td th:text="${erratum.reason}"></td>
            <td th:text="${erratum.date}"></td>
            <td>
                <form action="/admin/deleteTranslation" method="post">
                    <input type="hidden" th:value="${erratum.id}" name="id">
                    <input type="hidden" th:value="${erratum.translation}" name="translation">
                    <input type="hidden" th:value="${erratum.word}" name="word">
                    <button type="submit">删除</button>
                </form>
            </td>
            <td>
                <form action="/admin/updateTranslation" method="post">
                    <input type="hidden" th:value="${erratum.id}" name="id">
                    <input type="hidden" th:value="${erratum.translation}" name="translation">
                    <input type="hidden" th:value="${erratum.word}" name="word">
                    <input type="text" placeholder="请输入新释义" minlength="1" maxlength="30" name="newTranslation">
                    <button type="submit">修改</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<br>
<div id="source">
    <h3>出处统计</h3>
    <div th:text="${sourceError}"></div>
    <table border="1">
        <tr>
            <td>编号</td>
            <td>翻译</td>
            <td>翻译出处</td>
            <td>出处提交次数</td>
            <td>是否已提交</td>
            <td>认可此出处</td>
        </tr>
        <tr th:each="sources : ${sources}">
            <td th:text="${sources.id}"></td>
            <td th:text="${sources.translation}"></td>
            <td th:text="${sources.source}"></td>
            <td th:text="${sources.likes}"></td>
            <td th:text="${sources.submitted}"></td>
            <td>
                <div th:if="${sources.submitted} eq '否'">
                    <form action="/admin/submitSource" method="post">
                        <input type="hidden" th:value="${sources.id}" name="id">
                        <input type="hidden" th:value="${sources.translation}" name="translation">
                        <input type="hidden" th:value="${sources.source}" name="source">
                        <button type="submit">提交</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
<a href="/logout">登出</a>
<div id="text"></div>
</body>
</html>