<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.AdminMapper">
    <select id="selectAdmin" resultType="com.project.entity.Admin">
        select * from project_test.admin where username = #{username}
    </select>
    <update id="setEnabled">
        update project_test.admin set enabled = #{enabled} where username = #{username}
    </update>
    <update id="setAuthority">
        update project_test.admin set authority = #{authority} where username = #{username}
    </update>
</mapper>