<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ErratumMapper">
    <insert id="addErratum" parameterType="com.project.entity.Erratum">
        insert into project_test.erratum ( word, translation, date, reason) VALUES (#{word},#{translation},#{date},#{reason})
    </insert>

    <delete id="deleteErratumById" parameterType="int">
        delete from project_test.erratum where id = #{id} collate utf8mb4_bin
    </delete>

    <delete id="deleteErratumByTransl" parameterType="java.lang.String">
        delete from project_test.erratum where translation = #{translation} collate utf8mb4_bin
    </delete>

    <select id="queryAllErratum" resultType="com.project.entity.Erratum">
        select * from project_test.erratum order by date collate utf8mb4_bin
    </select>

</mapper>