<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.SourceMapper">

    <resultMap id="source" type="com.project.entity.mysql.Source"/>


    <insert id="submitSource" parameterType="com.project.entity.mysql.Source">
        insert into project_test.source (source, translation, date, url) values (#{source},#{translation},#{date}, #{url})
    </insert>

    <select id="queryAllSource" resultMap="source">
        select * from project_test.source
    </select>

    <select id="querySourceByTransl" parameterType="java.lang.String" resultMap="source">
        select * from project_test.source where translation = #{translation} collate utf8mb4_bin
    </select>

    <select id="querySourceByName" parameterType="map" resultMap="source">
        select * from project_test.source where translation = #{translation} and source = #{source} and url = #{url} collate utf8mb4_bin
    </select>

    <update id="submitSourceInPS" parameterType="map">
        update project_test.persistence set source = #{source},url = #{url}  where translation = #{translation}
    </update>
    <update id="submitSourceInSource" parameterType="map">
        update project_test.source set submitted = '是' where (source = #{source} and translation = #{translation} and url = #{url}) collate utf8mb4_bin
    </update>

    <update id="addSourceLike" parameterType="map">
        update project_test.source set likes = likes+1 where translation = #{translation} and source = #{source} and url = #{url} collate utf8mb4_bin
    </update>

    <select id="isInPS" parameterType="java.lang.String" resultType="int">
        select count(*) from project_test.persistence where translation = #{translation}
    </select>
</mapper>
