<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.SourceMapper">

    <select id="queryAllSource" resultType="com.project.pojo.Source">
        select * from project_test.source
    </select>

    <insert id="addSource" parameterType="com.project.pojo.Source">
        insert into project_test.source (source, translation, date, likes) values (#{source},#{translation},#{date},#{likes})
    </insert>

    <update id="addSourceLikes" parameterType="java.lang.String">
        update project_test.source set likes = likes+1 where translation = #{translation} and source = #{source}
    </update>

    <select id="querySource" parameterType="java.lang.String" resultType="com.project.pojo.Source">
        select * from project_test.source where translation = #{translation}
    </select>

    <update id="submitSource">
        update project_test.source set submitted = '是' where translation = #{translation} and source = #{source}
    </update>
</mapper>