<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.TranslationMapper">
    <resultMap id="translation" type="com.project.pojo.Translation">
        <result property="wordId" column="word_id"/>
    </resultMap>
    <select id="queryTranslationFromTemp" resultMap="translation" parameterType="java.lang.String">
        select * from project_test.temporary where word = #{word} order by likes+0 desc;
    </select>

    <select id="queryTranslationFromPersistence" resultMap="translation" parameterType="java.lang.String">
        select * from project_test.persistence where word = #{word} order by likes+0 desc;
    </select>

    <insert id="addTranslationToTemp" parameterType="com.project.pojo.Translation">
        insert into project_test.temporary (date, word, translation, word_id, likes) VALUES (#{date},#{word},#{translation},#{wordId},#{likes});
    </insert>

    <insert id="addTranslationToPersistence" parameterType="com.project.pojo.Translation">
        insert into project_test.persistence (date, word, translation, word_id, likes) VALUES (#{date},#{word},#{translation},#{wordId},#{likes});
    </insert>

    <update id="addLikesToTemp" parameterType="java.lang.String">
        update project_test.temporary set likes = likes+1 where translation = #{translation}
    </update>

    <update id="addLikesToPersistence" parameterType="java.lang.String">
        update project_test.persistence set likes = likes+1 where translation = #{translation}
    </update>

    <delete id="deleteTranslationByName" parameterType="java.lang.String">
        delete from project_test.temporary where translation = #{translation}
    </delete>

    <select id="queryTranslationByTranslationInTemp" resultMap="translation">
        select * from project_test.temporary where translation = #{translation}
    </select>

    <select id="queryTranslationLikes" parameterType="java.lang.String" resultType="int">
        select temporary.likes from project_test.temporary where translation = #{translation}
    </select>

    <select id="queryTranslationByTranslationInPersistence" parameterType="java.lang.String" resultMap="translation">
        select * from project_test.persistence where translation = #{translation}
    </select>

    <update id="removeLikesInPersistence" parameterType="java.lang.String">
        update project_test.persistence set likes = likes-1 where translation = #{translation}
    </update>

    <update id="addSource">
        update project_test.persistence set source = #{source} where translation = #{translation}
    </update>

    <delete id="deleteTranslationFormPersistence">
        delete from project_test.persistence where word = #{word} and translation = #{translation}
    </delete>

    <update id="updateTranslationInPersistence">
        update project_test.persistence set translation = #{newTranslation} where translation = #{translation} and word = #{word}
    </update>




    <update id="addLikesToTempFixed">
        update project_test.temporary set likes = likes+1 where translation = #{translation} and word = #{word}
    </update>

    <delete id="deleteTranslationByNameFixed">
        delete from project_test.temporary where translation = #{translation} and word = #{word}
    </delete>

    <select id="queryTranslationByTranslationInTempFixed" resultMap="translation">
        select * from project_test.temporary where translation = #{translation} and word = #{word}
    </select>

    <select id="queryTranslationLikesFixed" resultType="int">
        select * from project_test.temporary where translation = #{translation} and word = #{word}
    </select>

    <update id="addLikesToPersistenceFixed">
        update project_test.persistence set likes = likes+1 where translation = #{translation} and word = #{word}
    </update>

    <update id="removeLikesInPersistenceFixed">
        update project_test.persistence set likes = likes-1 where translation = #{translation} and word = #{word}
    </update>

    <select id="queryTranslationByTranslationInPersistenceFixed" resultMap="translation">
        select * from project_test.persistence where translation = #{translation} and word = #{word}
    </select>
</mapper>