<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">

    <select id="queryUser"  resultType="com.project.entity.mysql.User">
        select * from project_test.user where username = #{username}
    </select>

    <insert id="addUser" parameterType="com.project.entity.mysql.User">
        insert into project_test.user (username, password, date, authority, enabled,email)
        values (#{username},#{password},#{date},#{authority},#{enabled},#{email})
    </insert>

    <update id="setUserEnable" parameterType="map">
        update project_test.user set enabled = #{enabled} where username = #{username}
    </update>
</mapper>