<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midsummra.mapper.SourceMapper">
    <select id="queryAllResource" resultType="com.midsummra.pojo.Source">
        select * from project_test.source
    </select>

    <insert id="addResource" parameterType="com.midsummra.pojo.Source">
        insert into project_test.source (source, translation, date, likes) values (#{source},#{translation},#{date},#{likes})
    </insert>

    <update id="addResourceLikes" parameterType="java.lang.String">
        update project_test.source set likes = likes+1 where translation = #{translation} and source = #{resource}
    </update>

    <select id="querySource" parameterType="java.lang.String" resultType="com.midsummra.pojo.Source">
        select * from project_test.source where translation = #{translation}
    </select>
</mapper>